@import url('https://fonts.googleapis.com/css?family={{fontName}}');

span.label, .container {
  width: 100%;
  text-align: center;
  display: block;
}

span.label {
  font-family: '{{fontName}}';
  font-weight: {{fontWeight}};
  font-size:{{fontSize}}px;
  line-height: 16px;
  color: {{fontColor}};
  text-shadow: #000 1px 0 1px;
}

.progress {
  padding: 6px;
  border-radius: {{borderRadius}}px;
  background: {{backgroundColor}};
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25),
    0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
  height: 30px;
  border-radius: {{borderRadius}}px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar {
  width: 1px;
  background-color: {{progressColor}};
}

.highlighted {
  	background: linear-gradient(-45deg, {{highlightEffectColor1}}, 
  										{{highlightEffectColor2}}, 
  										{{highlightEffectColor3}}, 
  										{{highlightEffectColor4}});
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.container span {
  position: relative;
  top: -35px;
  font-family: '{{fontName}}';
  font-weight: {{fontWeight}};
  font-size:{{fontSize}}px;
  line-height: 30px;
  color: {{fontColor}};
}

.current {
  float:left;
  left: 12px;
}

.goal {
  float:right;
  right: 12px;
}